html {
  font-family:
    nunito sans regular,
    sans-serif;
}

.login-form {
  margin-bottom: 3rem;
}

.login-form,
#update-avatar-btn,
#logout-btn,
.form-inline,
.register-link,
#listing-container,
.social,
h2,
.copyright {
  display: flex;
}

h1 {
  margin-bottom: 3rem;
}

#update-avatar-btn {
  margin-left: auto;
}

#new-bid-btn {
  border-radius: 10px;
}

#emailHelp,
#passwordHelp {
  display: none;
  color: #ae0404;
}

#logout-btn {
  margin-left: auto;
}

.btn-primary {
  --bs-btn-bg: #1f614d;
  --bs-btn-border-color: #1f614d;
  --bs-btn-hover-bg: #48dcb9;
  --bs-btn-hover-border-color: #48dcb9;
  --bs-btn-active-bg: #48dcb9;
  --bs-btn-active-border-color: #48dcb9;
}

:root {
  --bs-primary: #1f614d;
  --bs-secondary: #48dcb9;
  --bs-primary-rgb: 31, 97, 77;
  --bs-secondary-rgb: 72, 220, 185;
  --bs-emphasis-color: #1f614d;
  --bs-emphasis-color-rgb: 31, 97, 77;
}

.btn-outline-success {
  --bs-btn-bg: #1f614d;
  --bs-btn-border-color: #1f614d;
  --bs-btn-hover-bg: #48dcb9;
  --bs-btn-hover-border-color: #48dcb9;
  --bs-btn-active-bg: #48dcb9;
  --bs-btn-active-border-color: #48dcb9;
}

main {
  margin-top: 1rem;
  padding: 1rem;
}

.nav-link {
  font-size: 1.5rem;
  margin-left: 3rem;
}

footer,
.form-inline,
.not-registered {
  background-color: #1f614d;
}
.form-inline {
  padding: 1rem;
  width: 100%;
  align-items: center;
}

.form-control {
  height: 2.2rem;
}

.btn-outline-success {
  margin-left: 0.5rem;
  color: #ffff;
  border-color: rgb(72, 220, 185, 0.2);
  box-shadow: 0.05rem 0.05rem 0.2rem rgb(72, 220, 185);
  height: 2.2rem;
}

.bi-person {
  font-size: 2.2rem;
  padding-right: 1rem;
}

.register-link {
  gap: 1rem;
}

.already-user {
  margin-bottom: 1.5rem;
}

.not-registered {
  padding-right: 10rem;
}

#listing-container img {
  max-width: 50%;
  height: auto;
}

#listing-container {
  justify-content: center;
}

.display-credit {
  height: 5rem;
}

.display-credit,
.bi-person,
a {
  color: #1f614d;
}

.display-listings-by-profile {
  background-color: brown;
  border: solid black;
  margin-top: 10rem;
  height: 10rem;
}

.create-listing-form {
  margin-top: 1rem;
}

h2 {
  margin-top: 5rem;
  justify-content: center;
}

.footer-link {
  color: #ffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

a:hover {
  color: #48dcb9;
  text-decoration: underline;
}

footer {
  height: 22rem;
  width: 100%;
  padding-top: 1rem;
  margin-top: 10rem;
}

.footerinfo {
  color: #ffff;
  padding-left: 1rem;
}

.social {
  justify-content: center;
}

.social-link {
  text-decoration: none;
  color: #ffff;
  padding-bottom: 2rem;
}

.bi-facebook,
.bi-youtube,
.bi-instagram,
.bi-linkedin {
  padding: 1rem;
  font-size: 2rem;
}

.copyright {
  padding-top: 2rem;
  justify-content: center;
  padding-bottom: 1rem;
}
